html,
body {
    overflow-x: hidden;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

.page {
    position: relative;
    height: 100%;
}

.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.show-popup .popup {
    opacity: 1;
    visibility: visible;
}

.popup > iframe {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -280px;
}

hr {
    height: 1%;
    background-color: #11d6af;
    margin-top: -10px;
}

p {
    line-height: 1.75;
}

p.text-blanco {
    margin-bottom: 50px;
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-weight: 500;
}

a {
    color: #11d6af;
}

a:hover {
    color: #00B38F;
}

.text-primary {
    color: #11d6af !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

h1.titulo {
    color: #FFFFFF;
    font-size: 70px;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-weight: 600;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
    text-transform: none;
    color: #11d6af;
    line-height: 50px;
    font-family: Verdana, sans-serif;

}

@media (min-width: 768px) {
    section {
        padding: 60px 0;
    }
}

.btn {
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 0.1rem;
}

.btn-xl {
    font-size: 18px;
    padding: 10px 30px;
}

.btn-primary {
    background-color: #11d6af66;
    border-color: #11d6af;

}

.btn-tertiary {
    background-color: #8415c3;
    border-color: #560b81;
    color: #FFFFFF;
}

.btn-secondary {
    background-color: #560b8199;
    border-color: #560b81;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #560b81 !important;
    border-color: #560b81 !important;
    color: white;
}

.btn-secondary:active, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 11, 129, 0.5) !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #00B38F !important;
    border-color: #00B38F !important;
    color: white;
}

.uno:active, .uno:focus, .uno:hover{
    background-color: rgba(0, 179, 143, 0.71) !important;
    border-color: #00B38F !important;
    color: white;
}

.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 155, 127, 0.5) !important;
}

.btn-tertiary:active, .btn-tertiary:focus, .btn-tertiary:hover {
    background-color: #560b81 !important;
    border-color: #560b81 !important;
    color: white;
}

.btn-tertiary:active, .btn-tertiary:focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 11, 129, 0.5) !important;
}

::-moz-selection {
    background: #00FFCC;
    text-shadow: none;
}

::selection {
    background: #00B38F;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: none;
    color: #FFFFFF;
    border: 0;
    background-color: #11d6af;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

#mainNav .navbar-brand {
    color: #00FFCC;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #00B38F;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #00FFCC;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #00B38F;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item {
    color: #FFFFFF;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-transition: padding-top 0.2s, padding-bottom 0.2s;
        -moz-transition: padding-top 0.2s, padding-bottom 0.2s;
        transition: padding-top 0.2s, padding-bottom 0.2s;
        border: none;
        background-color: #000000;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

.parallax-section.inline-video {
    display: inherit;
}

header.foto {
    text-align: center;
    color: white;
    background-image: url("../img/team/equipo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

header.foto .intro-text {
    padding-top: 15px;
    padding-bottom: 100px;
}

header.foto .intro-text .intro-lead-in {
    font-size: 202px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

header.foto.intro-text .intro-heading {
    font-size: 500px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

@media (min-width: 800px) {
    header.foto .intro-text {
        padding-top: 220px;
        padding-bottom: 220px;
    }

    header.foto .intro-text .intro-lead-in {
        font-size: 400px;
        font-style: italic;
        line-height: 300px;
        margin-bottom: 25px;
        font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    }

    header.foto .intro-text .intro-heading {
        font-size: 750px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    }
}

header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

@media (min-width: 800px) {
    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 150px;
        margin-bottom: 25px;
        font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    }
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.count {
    background: #f8f9fa;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(17, 212, 173, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal {
    padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
    cursor: pointer;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid rgb(211, 255, 250);
    border-radius: 100%;
    background-color: #11d6af;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    max-width: 180px;
    max-height: 180px;
    border: 7px solid #fff;
}

.team-member h4 {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
    font-size: 13px;

}

section#contact {
    background-color: #212529;
    background-image: url("../img/mapimage.png");
    background-repeat: no-repeat;
    background-position: center;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 248px;
}

section#contact .form-control:focus {
    border-color: #11d6af;
    border-width: 2px;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: rgba(76, 10, 114, 0.74);
}

ul.social-buttons-footer {
    margin-bottom: 0;
}

ul.social-buttons-footer li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons-footer li a:active, ul.social-buttons-footer li a:focus, ul.social-buttons-footer li a:hover {
    background-color: #11d6af;
}

