<!DOCTYPE html>
<html lang=&quot;es&quot;>
     <head>
         <meta charset="UTF-8">
    <title>Error 404 Not Found</title>
		<meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; />
		<meta name=&quot;description&quot; content=&quot;Esta Tienda está desarrollada con PrestaShop&quot; />
             <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet"  href= "{{ url_for("static",filename="css/error.css")}}">
    </head>
    <body>
        <div class=&quot;container&quot;>
            <div align="center">
                            <img src="../static/img/search.jpg" style="max-width:400px; width: 90%; opacity: 0.8;" class="img-fluid" alt="Responsive image">
            <h2><span>404</span>Not Found</h2>

                <p>¡Vaya! Algo salió mal.<br /><br />El sitio no exite o fue eliminado. Codesings está trabajando para resolverlo.</p>

                    <a class="btn btn-secondary"  style="border-radius: 10rem; margin-top: 0px; margin-bottom: 0px;" href="index">
                        <i class="fa fa-chevron-right" style="opacity: 0.8"></i> Volver a SignFinder
                    </a>

            </div>

        </div>
    </body>
</html>