<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122658692-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122658692-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Encabezado-->
    <meta name="description" content="Curriculum integrante equipo Codesigns">
    <meta name="author" content="Equipo Codesigns">
    <meta name="keywords" content="SignFinder, Codesings, Discapacidad auditiva, lengua de seña chilena, Signy">

    <title>CV ErikaRiveros</title>
    <link rel="shortcut icon" href="..\static\img\icono.png"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="index">
        <span class="d-lg-block">
          <img src="../static/img/logos_signfinder/SignFinder-Icono-FondoNegro-Sin-Letras.png"
               style="max-width:350px; width: 90%;" class="img-fluid" alt="Responsive image">
        </span>
    </a>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/img/team/andrea.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">Sobre mí</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experiencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Educación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Competencias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Intereses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#awards">Idiomas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ url_for('.hello', _anchor='equipo') }}">Volver a
                    SignFinder</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Erika
                <span class="text-primary">Riveros</span>
            </h1>
            <div class="subheading mb-5">Santiago · (569) 8806 5642·
                <a href="mailto:name@email.com">erika.riveros.14@sansano.usm.cl</a>
                <p class="mb-5"> Fecha Nacimiento: 20 Diciembre 1995</p>
            </div>
            <p class="mb-5"> Actualmente estudiante de Ingeniería Civil Informática de la Universidad Técnica Federico
                Santa María. Soy una persona con grandes habilidades para trabajar y liderar equipos, con
                conocimientos de trabajo bajo metodologías agiles. Me gusta adquirir conocimiento nuevo de
                forma continua, por lo que me gusta tener nuevas experiencias e investigar temas desconocidos.
                Finalmente, considero que tengo muchas habilidades para aprender cosas nuevas por mí misma.
            </p>
            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/erikariverosdiaz/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experiencia</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Jefe de proyecto</h3>
                    <div class="subheading mb-3">Codesigns</div>
                    <p>
                        Desarrollar y liderar el equipo de trabajo Codesigns, el cual está desarrollando el software
                        SignFinder, el cual será capaz de traducir
                        videos de la web en lenguaje de señas mediante un avatar 3D. Además, trabajar en diferentes
                        áreas del proyecto como desarrollo
                        de software, animación y desarrollo web.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Enero 2018 - Actualidad</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Ayudante Organización y sistemas de información</h3>
                    <div class="subheading mb-3">Departamento Informática UTFSM</div>
                    <p>Encargado de ser ayudante de cátedra del ramo apoyando a los
                        alumnos en el seguimiento del desarrollo de sus proyectos de
                        modelamiento de procesos, como también la corrección de casos y
                        entregables de proyectos.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Marzo 2017 - Actualidad</span>
                </div>
            </div>
        </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Educación</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Universidad Técnica Federico Santa María</h3>
                    <div class="subheading mb-3">Ingeniería Civil Informática</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Marzo 2014 - En curso</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Colegio Los Nogales</h3>
                    <div class="subheading mb-3">Educación Media y Básica</div>

                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2002 - 2013</span>
                </div>
            </div>

        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Competencias</h2>

            <div class="subheading mb-3">Lenguajes de Programación y herramientas</div>
            <ul class="list-inline list-icons">
                <li class="list-inline-item">
                    <i class="devicons devicons-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-javascript"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-jquery"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-python"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-github"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-java"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-android"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-prolog"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-mysql"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-unity_small"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-trello"></i>
                </li>

            </ul>

            <div class="subheading mb-3">Experiencia en Desarrollo</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Líder de Equipo Codesigns
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Metodologías Ágiles
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Diseño y Desarrollo de Software
                </li>
                <li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
            <h2 class="mb-5">Intereses</h2>
            <p> Disfruto del aprendizaje continuo, de nuevas experiencias, de participación en proyectos y nuevas
                iniciativas.</p>
            <p class="mb-0"> Me interesa el área de gestión de proyectos, diseño y deserrollo de software. A futuro me
                interesa aprender sobre estrategias de marketing. </p>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
            <h2 class="mb-5">Idiomas</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa fa-language text-warning"></i>
                    Inglés Nivel B1
                </li>
                <li>
                    <i class="fa fa-language text-warning"></i>
                    Francés Nivel A1
                </li>
                <li>
                    <i class="fa fa-language text-warning"></i>
                    Español Nativo
                </li>
            </ul>
        </div>
    </section>

</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/resume.min.js"></script>

</body>

</html>
