<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122658692-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122658692-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Curriculum integrante equipo Codesigns">
    <meta name="author" content="Equipo Codesigns">
    <meta name="keywords" content="SignFinder, Codesings, Discapacidad auditiva, lengua de seña chilena, Signy">

    <title>CV FranciscoVasquez</title>
    <link rel="shortcut icon" href="..\static\img\icono.png"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="index">
        <span class="d-lg-block">
          <img src="../static/img/logos_signfinder/SignFinder-Icono-FondoNegro-Sin-Letras.png"
               style="max-width:350px; width: 90%;" class="img-fluid" alt="Responsive image">
        </span>
    </a>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/img/team/francisco.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">Sobre mí</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experiencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Educación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Competencias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Intereses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#awards">Idiomas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ url_for('.hello', _anchor='equipo') }}">Volver a
                    SignFinder</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Francisco
                <span class="text-primary">Vásquez</span>
            </h1>
            <div class="subheading mb-5">Santiago · (569) 7512 58277·
                <a href="mailto:name@email.com">francisco.vasquez.14@sansano.usm.cl</a>
                <p class="mb-5"> Fecha Nacimiento: 18 Junio 1995</p>
            </div>
            <p class="mb-5"> Me dedico a la ciencia de la computación porque desde siempre me ha interesado el
                funcionamiento de las máquinas, ordenadores, calculadoras, y más recientemente,
                smartphones. Me inclino por la resolución de problemas, tanto a nivel de programación
                como a la resolución de conflictos.
            </p>
            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/francisco-vasquez-pinto/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experiencia</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Encargado de Comunicación</h3>
                    <div class="subheading mb-3">Codesigns</div>
                    <p>
                        Gestionar el área de comunicaciones de SignFinder, software que pretende traducir
                        videos de la web en lenguaje de señas mediante un avatar 3D, además de trabajar en diferentes
                        áreas de animación, desarrollo y tecnologías del proyecto.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Enero 2018 - Actualidad</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Desarrollador back-end y front-end</h3>
                    <div class="subheading mb-3">Intelligenxia Business Group</div>
                    <p>Programar aspectos de visualización de datos de OptimEyes
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Enero 2016 - Marzo 2016</span>
                </div>
            </div>
        </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Educación</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Universidad Técnica Federico Santa María</h3>
                    <div class="subheading mb-3">Ingeniería Civil Informática</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Marzo 2014 - En curso</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Colegio Los Nogales </h3>
                    <div class="subheading mb-3">Educación Media</div>

                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2010 - 2013</span>
                </div>
            </div>

        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Competencias</h2>

            <div class="subheading mb-3">Lenguajes de Programación y herramientas</div>
            <ul class="list-inline list-icons">
                <li class="list-inline-item">
                    <i class="devicons devicons-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-javascript"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-jquery"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-python"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-github"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-java"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-android"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-mysql"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-trello"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Experiencia en Desarrollo</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Encargado de Comunicaciones de Codesigns
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Desarrollo de Software
                </li>
                <li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
            <h2 class="mb-5">Intereses</h2>
            <p> Mis principales intereses se encuentran en el área de gestión y desarrollo de software, ya que tengo
                grandes habilidades comunicativas y de liderazgo. En cuanto a mi vida personal me gusta hacer amigos,
                compartir con ellos y con mi
                familia, además de viajar y pasear en bicicleta. </p>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
            <h2 class="mb-5">Idiomas</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa fa-language text-warning"></i>
                    Inglés Nivel B2
                </li>
                <i class="fa fa-language text-warning"></i>
                Español Nativo</li>
            </ul>
        </div>
    </section>

</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/resume.min.js"></script>

</body>

</html>
