<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Encabezado-->
    <meta name="description"
          content="SignFinder es un complemento para el navegador web Chrome, con el cual podrás reproducir tus videos favoritos de YouTube en lengua de señas chilena. Además tiene un diccionario validado por expertos y un sistema colaborativo para ampliar este diccionario.">
    <meta name="author" content="Equipo Codesigns">
    <meta name="keywords"
          content="SignFinder, Codesings, Discapacidad auditiva, lengua de seña chilena, Signy, YouTube, Animación 3D, Intérprete, persona sorda, videos en lengua de señas">
    <title>SignFinder</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122658692-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-122658692-1');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://snapwidget.com/js/snapwidget.js"></script>

    <script>
        function mensajeEnviado() {

            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    if (this.responseText === "ok") {
                        alert("Mensaje enviado exitosamente");

                    }
                    else if (this.responseText === "error") {
                        alert("Hubo un problema, reintente por favor");
                    }
                }
                else if (this.readyState === 4) {
                    alert("¡Mensaje enviado exitosamente!")
                }
            };
            xhttp.open("POST", "contact", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("name=" + document.forms["sentMessage"]["name"].value + "&email=" + document.forms["sentMessage"]["email"].value + "&telefono=" + document.forms["sentMessage"]["telefono"].value + "&message=" + document.forms["sentMessage"]["message"].value);
        }
    </script>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!--Icono ventana-->
    <link rel="shortcut icon" href="..\static\img\icono.png"/>

    <!-- Hoja de estilo-->
    <link rel="stylesheet" href="{{ url_for("static",filename="css/agency8.css") }}">
</head>

<body id="page-top">

<!--Sdk Facebook-->
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="../static/img/logos_signfinder/SignFinder-Icono-FondoNegro-Sin-Letras.png"
                 style="max-width:300px; width: 90%;" class="img-fluid" alt="Responsive image">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="text-transform: capitalize;"
                       href="#services">Proyecto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="text-transform: capitalize;" href="#count">Progreso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="text-transform: capitalize;" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="text-transform: capitalize;"
                       href="#noticias">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="text-transform: capitalize;"
                       href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Pagina principal -->
<div class="page">
    <header class="masthead">
        <div class="container" alt="Responsive">
            <div class="intro-text" alt="Responsive">
                <img src="..\static\img\logos_codesigns\codesigns_white_product.png" class="img-fluid"
                     style="opacity: 0.7; " alt="Responsive image">
                <img src="..\static\img\logos_signfinder\SignFinder-Icono-FondoNegro.png" class="img-fluid"
                     alt="Responsive image">
                <div class="intro-lead-in">
                    <a class="btn btn-primary btn-xl"
                       style="background-color: #11d6af; border-radius: 5rem; text-transform: capitalize;"
                       href="#media-popup"
                       data-media="https://www.youtube.com/embed/yTLk82_WJX4?rel=0&amp;controls=1&amp;showinfo=0">Ver
                        Video</a>
                    <div class="popup" id="media-popup">
                        <div class="col-lg-20 text-center" aling="middle">
                            <div class="row text-center" aling="middle">
                                <div class="col-md-2" aling="middle"></div>
                                <div class="col-md-8" aling="middle">
                                    <iframe align="middle"
                                            style="margin-top: 20%; max-width:800px; width: 100%; height: 320px; "
                                            src="" frameborder="100" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn uno js-scroll-trigger" style=" border-radius: 10rem;" href="#services"><i
                        class="fa fa-chevron-down" style="color: #ffffff;opacity: 0.9"></i></a>
            </div>
        </div>
    </header>
</div>

<!-- Proyecto -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="..\static\img\logos_signfinder\SignFinder-icono.png" style="max-width:500px; width: 100%;"
                     class="img-fluid" alt="Responsive image">
                <h3 class="section-subheading" style="color: #11d6af;"> Un intérprete pensado para ti</h3>
                <div class="row text-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p class="text-muted" align="center">
                            SignFinder es un programa que se agrega a tu navegador web, donde un intérprete en 3D
                            traduce el contenido de los videos a Lengua de Señas Chilena.
                        </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-deaf fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Problema</h4>
                    <p class="text-muted">
                        Muchas personas con discapacidad auditiva tienen grandes dificultades para comprender contenido
                        audiovisual.
                    </p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-american-sign-language-interpreting fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Solución</h4>
                    <p class="text-muted">
                        Crear SignFinder, un software que se acople al navegador web e interpreta el contenido de un
                        video de YouTube a Lengua de Señas Chilena usando un avatar intérprete digital.
                    </p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Objetivo</h4>
                    <p class="text-muted">
                        Poder abrir el mundo de los videos web a la comunidad sorda chilena.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="intro-text">
                <a class="btn btn-primary  btn-xl text-uppercase js-scroll-trigger"
                   style="background-color: #11d6afb3;margin-top: 30px; margin-bottom: 50px;" href="#product">
                    ¿Cuáles son sus características?
                </a>
            </div>
        </div>
    </div>

    <!--Caracteristicas del producto-->
    <div class="container" id="product">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row text-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h4 class="service-heading" style="color: #11d6af; margin-top: 50px;">Características de
                            SignFinder</h4>
                        <hr style="margin-top: 15px ; margin-bottom: 25px;">
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row text-center" style="margin-top: 20px">
                    <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-sign-language fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div class="col-md-5">
                        <p class="service-heading text-muted" align="justify">
                            Contará con un avatar intérprete digital 3D para interpretar videos de YouYube en Lengua de
                            Señas Chilena.
                        </p>
                    </div>
                    <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-expand fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div class="col-md-5">
                        <p class="service-heading text-muted" align="justify"> El avatar intérprete tendrá un tamaño
                            adecuado respecto al video para facilitar la comprensión de las señas y podrá desplazarse en
                            la pantalla para mayor comodidad del usuario.</p>
                    </div>
                </div>
                <div class="row text-center" style="margin-top: 10px">
                    <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div class="col-md-5">
                        <p class="service-heading text-muted" align="justify"> SignFinder tendrá un diccionario validado
                            por un conjunto de expertos en Lengua de Seña Chilena, quienes tienen más de 25 años de
                            experiencia. </p>
                    </div>
                    <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-font fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div class="col-md-5">
                        <p class="service-heading text-muted" align="justify"> Una vez que el software tenga el
                            diccionario completo de Lengua de Señas Chilena el avatar intérprete evitará el deletreo en
                            su interpretación. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" align="center">
        <a class="btn btn-primary js-scroll-trigger"
           style="border-radius: 10rem; margin-top: 30px; background-color: #11d6af66;" href="#count"><i
                class="fa fa-chevron-down" style="opacity: 0.8"></i></a>
    </div>
</section>

<!-- Progreso del proyecto -->
<section class="count" id="count" style="color: #f0f0f0;">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h3 class="section-subheading"
                style="color: #11d6af; font-weight: 500; font-size: 40px; margin-bottom: 100px;"> ¡Para los que les
                gustan los números!</h3>
            <div class="row">
                <div class="col-md-3">
                    <h3 class="section-subheading"
                        style="color: #11d6af; font-size: 90px; font-weight: 500; margin-bottom: 50px;"> 360</h3>
                    <h3 class="" style="color: #11d6af; font-size: 25px; font-weight: 400;"> Señas
                        disponibles</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="section-subheading"
                        style="color: #11d6af; font-size: 90px;font-weight: 500; margin-bottom: 50px;"> 5</h3>
                    <h3 class="" style="color: #11d6af; font-size: 25px; font-weight: 400;"> Expertos
                        calificados</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="section-subheading"
                        style="color: #11d6af; font-size: 90px; font-weight: 500;margin-bottom: 50px;"> 5</h3>
                    <h3 class="" style="color: #11d6af; font-size: 25px; font-weight: 400;"> Empresas
                        colaborando</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="section-subheading"
                        style="color: #11d6af; font-size: 90px; font-weight: 500;margin-bottom: 50px;"> 4</h3>
                    <h3 class="" style="color: #11d6af; font-size: 25px; font-weight: 400;"> Semanas
                        para Feria de Software</h3>
                </div>
            </div>

            <br>
            <hr style="color: #11d6af;">
            <br>
            <p style="color: #11d6af; font-size: 20px;">
                ¡Para conocer nuestro proyecto ven a visitarnos a la Feria de Software en Universidad Técnica Federico
                Santa María!
            </p>
            <p style="color: #11d6af; font-size: 17px;">
                Para más información visita <a style="color: #11d6af; font-weight: 600;" href="www.feriadesoftware.cl">www.feriadesoftware.cl</a>.
            </p>

            <br>
            <hr style="color: #11d6af;">
            <br>

            <a class="btn btn-primary js-scroll-trigger"
               style="border-radius: 10rem; margin-top: 30px; background-color: #11d6af66;" href="#about"><i
                    class="fa fa-chevron-down" style="opacity: 0.8;"></i></a>

        </div>
    </div>
</section>

<!-- Nosotros -->
<section id="about">
    <header class="foto img-fluid">
        <div class="container" alt="Responsive">
            <div class="intro-text" alt="Responsive">
                <h1 class="titulo">¿Quiénes somos?</h1>
                <div style="background: #0009 ; border-radius: 20px;">
                    <p class="section-subheading text-blanco">
                        Somos la pre-empresa Codesigns formada por estudiantes de Ingeniería Civil Informática de la
                        Universidad Técnica Federico Santa María y creemos, firmemente, que acabar con las brechas que
                        existen para las personas con discapacidades
                        es el primer paso para generar grandes cambios en la sociedad.
                    </p>
                </div>
                <a class="btn btn-xl btn-tertiary js-scroll-trigger" style="border-radius: 5rem;" href="#equipo">Conoce
                    a Codesigns</a>
            </div>
        </div>
    </header>

    <!--Equipo-->
    <section id="equipo">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-fluid" style="max-width: 400px; width: 100%; margin-top: -30px"
                     src="../static/img/logos_codesigns/codesigns.png" alt="">
                <h3 class="section-subheading text-muted" style="margin-bottom: 20px;"> Nuestro gran equipo que creará a
                    SignFinder y hará este sueño posible.</h3>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <!--Frencisco-->
                <div class="col-xs-4 col-md-1"></div>
                <div class="col-xs-4 col-md-2">
                    <div class="team-member">
                        <img alt="Cambiar imagen" class="rounded-circle"
                             onmouseout="this.src='../static/img/team/francisco.jpg';"
                             onmouseover="this.src='../static/img/team/francisco_descripcion.jpg';"
                             src="../static/img/team/francisco.jpg"/>
                        <h4>Francisco Vásquez Pinto</h4>
                        <p class="text-muted">Comunicaciones y Desarrollo Back-End</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/francisco-vasquez-pinto/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="integranteV">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Jorge-->
                <div class="col-xs-4 col-md-2 ">
                    <div class="team-member">
                        <img alt="Cambiar imagen" class=" rounded-circle"
                             onmouseout="this.src='../static/img/team/jorge.jpg';"
                             onmouseover="this.src='../static/img/team/jorge_descripcion.jpg';"
                             src="../static/img/team/jorge.jpg"/>
                        <h4>Jorge Aliste Ahumada</h4>
                        <p class="text-muted">Animación y Desarrolo Back-End</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/jorge-aliste-146b99123/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="integranteA">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--Andrea-->
                <div class="col-xs-4 col-md-2">
                    <div class="team-member">
                        <img alt="Cambiar imagen" class="rounded-circle "
                             onmouseout="this.src='../static/img/team/andrea.jpg';"
                             onmouseover="this.src='../static/img/team/andrea_descripcion.jpg';"
                             src="../static/img/team/andrea.jpg"/>
                        <h4>Andrea Riveros Díaz</h4>
                        <p class="text-muted">Líder de Proyecto y Desarrollo Front-End</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/erikariverosdiaz/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="integranteR">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Felipe-->
                <div class="col-xs-4 col-md-2">
                    <div class="team-member">
                        <img alt="Cambiar imagen" class=" rounded-circle"
                             onmouseout="this.src='../static/img/team/felipe.jpg';"
                             onmouseover="this.src='../static/img/team/felipe_descripcion.jpg';"
                             src="../static/img/team/felipe.jpg"/>
                        <h4>Felipe Monsalve Cantín</h4>
                        <p class="text-muted">Diseño, Animación y Marketing</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/felipemonsalvec/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="integranteM">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Gabriel-->
                <div class="col-xs-4 col-md-2">
                    <div class="team-member">
                        <img alt="Cambiar imagen" class="rounded-circle "
                             onmouseout="this.src='../static/img/team/gabriel.jpg';"
                             onmouseover="this.src='../static/img/team/gabriel_descripcion.jpg';"
                             src="../static/img/team/gabriel.jpg"/>
                        <h4>Gabriel Arjona Gálvez</h4>
                        <p class="text-muted">Testing, Desarrollo Back-End</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/arjonagabriel/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="integranteG">
                                    <i class="fa fa-address-card"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4 col-md-1"></div>
            </div>

            <!-- Vision, mision y caracteristicas del equipo-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="intro-text">
                            <a class="btn btn-xl btn-secondary js-scroll-trigger" style="margin-top: -15px"
                               href="#mision">Nuestra Misión y visión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="mision" style="margin-top: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="section-subheading" style="color: #560b81;"> Misión</h3>
                        <hr style="background-color: #560b81;">

                        <div class="row">
                            <div class="col-md-12">
                                <p class="section-subheading" align="justify">
                                    Mejorar la calidad de vida de las personas con discapacidades, proveyéndoles
                                    tecnologías que ayuden a terminar con las brechas sociales y de entorno que son
                                    verdadera causa de la discapacidad.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <h3 class="section-subheading" style="color: #560b81;"> Visión</h3>
                        <hr style="background-color: #560b81;">

                        <div class="row">
                            <div class="col-md-12">
                                <p class="section-subheading" align="justify">
                                    Ser una de las principales empresas de tecnología dedicadas a eliminar las barreras
                                    del entorno que dificultan la capacidad de las personas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-subheading" style="color: #560b81;"> Características de nuestro equipo</h3>
                        <hr style="background-color: #560b81;">

                        <div class="row">
                            <div class="row text-center">
                                <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x " style="color: #560b81;"></i>
                                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                            </span>
                                </div>
                                <div class="col-md-5">
                                    <p class="service-heading text-muted" align="justify">
                                    <h3 class="section-subheading" style="color: #560b81; line-height: 20px"> Valor
                                        Social</h3>
                                    Creemos que para el crecimiento de la sociedad es fundamental que cada individuo
                                    pueda crecer.
                                    </p>
                                </div>
                                <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x " style="color: #560b81;"></i>
                                <i class="fas fa-dumbbell fa-stack-1x fa-inverse"></i>
                            </span>
                                </div>
                                <div class="col-md-5">
                                    <p class="service-heading text-muted" align="justify">
                                    <h3 class="section-subheading" style="color: #560b81; line-height: 20px"> Equipo
                                        fuerte y unido</h3>
                                    Dedicamos el mayor esfuerzo y nos apoyamos mutuamente para alcanzar las metas.
                                    </p>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x " style="color: #560b81;"></i>
                                <i class="fas fa-palette fa-stack-1x fa-inverse"></i>
                            </span>
                                </div>
                                <div class="col-md-5">
                                    <p class="service-heading text-muted" align="justify">
                                    <h3 class="section-subheading" style="color: #560b81; line-height: 20px"> Equipo
                                        diverso</h3>
                                    Podemos enfrentar los desafíos desde diferentes perspectivas, aportando integridad y
                                    diferenciación.
                                    </p>
                                </div>
                                <div class="col-md-1">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x " style="color: #560b81;"></i>
                                <i class="fa fa-handshake-o  fa-stack-1x fa-inverse"></i>
                            </span>
                                </div>
                                <div class="col-md-5">
                                    <p class="service-heading text-muted" align="justify">
                                    <h3 class="section-subheading" style="color: #560b81; line-height: 20px"> Confianza
                                        y motivación</h3>
                                    Comprometidos con lo que hacemos para brindar la confianza de que cumpliremos por
                                    encima de las expectativas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" align="center">
                        <a class="btn btn-secondary js-scroll-trigger"
                           style="border-radius: 10rem; margin-top: 30px; margin-left: 30px;" href="#noticias"><i
                                class="fa fa-chevron-down" style="opacity: 0.8"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

<!--redes sociales-->
<section id="noticias" class="bg-light">
    <div class="container" style="margin-top: -40px;">
        <div class="row text-center">
            <div class="col-md-12" align="center">
                <h3 class="section-subheading" style="color: #11d6af; font-size: 30px; font-weight: 500; ">
                    ¡Síguenos en nuestras redes sociales!
                </h3>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-4 col-md-4" align="center">
                    <a class="twitter-timeline" data-width="340" data-height="494" data-link-color="#11d6af"
                       href="https://twitter.com/signfinderCL?ref_src=twsrc%5Etfw">Tweets by signfinderCL</a>
                    <hr style="margin-top: 4px; max-height: 1px">
                    <h3 class="section-subheading"
                        style="color: #11d6af; font-size: 18px; font-weight: 500; margin-top: -15px;">
                        Twitter
                    </h3>
                </div>
                <div class="col-xs-4 col-md-4" align="center">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsignfinder&tabs=timeline&width=340&height=494&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId"
                            width="340" height="494" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe>
                    <hr style="max-height: 1px; margin-top: 4px;">
                    <h3 class="section-subheading"
                        style="color: #11d6af; font-size: 18px; font-weight: 500; margin-top: -15px;">
                        Facebook
                    </h3>
                </div>
                <div class="col-xs-4 col-md-4" align="center">
                    <blockquote class="instagram-media"
                                data-instgrm-permalink="https://www.instagram.com/p/BpYOI-RhSvt/?utm_source=ig_web_button_share_sheet"
                                data-instgrm-version="12"
                                style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 0px; max-width:540px; max-height: 500px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                        <div style="padding:16px;"><a
                                href="https://www.instagram.com/p/BpYOI-RhSvt/?utm_source=ig_web_button_share_sheet"
                                style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                                target="_blank">
                            <div style=" display: flex; flex-direction: row; align-items: center;">
                                <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                                <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                                </div>
                            </div>
                            <div style="padding: 19% 0;"></div>
                            <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1"
                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                                            <g>
                                                <path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div style="padding-top: 8px;">
                                <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                                    View this post on Instagram
                                </div>
                            </div>
                            <div style="padding: 12.5% 0;"></div>
                            <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                                <div>
                                    <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                                    <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                                    <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                                </div>
                                <div style="margin-left: 8px;">
                                    <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                                    <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                                </div>
                                <div style="margin-left: auto;">
                                    <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                                    <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                                    <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
                            </div>
                        </a>
                            <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                                <a href="https://www.instagram.com/p/BnpkG8sAqsJ/?utm_source=ig_embed_loading"
                                   style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                                   target="_blank">A post shared by SignFinder (@signfindercl)</a> on
                                <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
                                      datetime="2018-09-13T02:25:00+00:00">Sep 12, 2018 at 7:25pm PDT
                                </time>
                            </p>
                        </div>
                    </blockquote>
                    <script async defer src="//www.instagram.com/embed.js"></script>
                    <hr style="max-height: 2px; margin-top: -5px;">
                    <h3 class="section-subheading"
                        style="color: #11d6af; font-size: 18px; font-weight: 500; margin-top: -15px;">
                        Instagram
                    </h3>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12" align="center">
                <a class="btn btn-primary js-scroll-trigger" href="#client"
                   style="border-radius: 10rem; margin-top: 0px; background-color: #11d6af66;">
                    <i class="fa fa-chevron-down" style="opacity: 0.8"></i></a>
                </a>
            </div>
        </div>
    </div>
</section>

<!--Clientes-->
<section class="py-5" id="client">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="text-transform: none;">Nuestros partners y Patrocinadores</h2>
                <h3 class="section-subheading text-muted">Grandes corporaciones y empresas que nos han apoyado a lograr
                    nuestros objetivos.</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-md-4">
                <h3 class="section-subheading text-muted" style="margin-bottom: 10px;">Auspiciadores</h3>
                <div class="row">
                    <div class="col-md-">
                        <a href="http://www.feriadesoftware.cl/">
                            <img class="img-fluid d-block mx-auto" src="../static/img/logos/fesw.png" alt="responsive">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="section-subheading text-muted" style="margin-bottom: 10px;">Partners</h3>
                <div class="row">
                    <div class="col-md-6">
                        <a href="http://effeta.cl/">
                            <img class="img-fluid d-block mx-auto" src="../static/img/logos/Effeta.png"
                                 alt="responsive">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://www.imova.cl/">
                            <img class="img-fluid d-block mx-auto" style="max-height: 100px;"
                                 src="../static/img/logos/imova.png" alt="responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="section-subheading text-muted" style="margin-bottom: 10px;">Patrocinadores</h3>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3 col-sm-3">
                <a href="https://www.xms.cl/">
                    <img class="img-fluid d-block mx-auto" src="../static/img/logos/xms.png" alt="responsive">
                </a>
            </div>
            <div class="col-md-3 col-sm-3">
                <a href="https://azure.microsoft.com/es-es/">
                    <img class="img-fluid d-block mx-auto" src="../static/img/logos/microsoft_azure.jpg"
                         alt="responsive">
                </a>
            </div>
            <div class="col-md-3 col-sm-3">
                <a href="http://www.piea.usm.cl/">
                    <img class="img-fluid d-block mx-auto" src="../static/img/logos/piea.png" alt="responsive">
                </a>
            </div>
            <div class="col-md-3 col-sm-3">
                <a href="http://www.piea.usm.cl/">
                    <img class="img-fluid d-block mx-auto" src="../static/img/logos/di.png" alt="responsive">
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12" align="center">
        <a class="btn btn-primary js-scroll-trigger"
           style="border-radius: 10rem; margin-top: 30px; background-color: #11d6af66;" href="#contact"><i
                class="fa fa-chevron-down" style="opacity: 0.8"></i></a>
    </div>
    <div class="fb-page" data-href="https://www.facebook.com/facebookFelsDraws/" data-tabs="timeline"
         data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
         data-show-facepile="true"></div>
</section>


<!-- Contacto -->
<section id="contact">
    <div class="container" style="margin-top: -20px; margin-bottom: -35px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Contáctenos</h2>
                <h3 class="section-subheading">¡Contáctate con nuestro equipo! Estaremos encantados de hablar contigo.
                    <!doctype html>
                    <html lang="q1|">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport"
                              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                        <meta http-equiv="X-UA-Compatible" content="ie=edge">
                        <title>Document</title>
                    </head>
                    <body>
                    </body>
                    </html>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm1" name="sentMessage" method="POST" action="#contact" onsubmit="mensajeEnviado()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="name" id="name" type="text" placeholder="Tu nombre *"
                                       required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email"
                                       placeholder="Tu Email *" required
                                       data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="telefono" id="phone" type="tel"
                                       placeholder="Tu teléfono"
                                       data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" placeholder="Mensaje *"
                                          required
                                          data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button id="sendMessageButton" class="btn btn-primary btn-xl "
                                    style="background-color: #11d6af;" type="submit">Enviar Mensaje
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Pie de pagina -->
<footer>
    <div class="container" style="margin-top: -10px; margin-bottom: -15px">
        <div class="row">
            <div class="col-md-4">
                <img src="..\static\img\logos_signfinder\SignFinder-icono.png"
                     style="max-width:200px; width: 100%; margin-top: 11px;" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons-footer">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/@SignFinderCL">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://facebook.com/SignFinder">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/signfindercl">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="..\static\img\logos_codesigns\codesigns.png"
                     style="max-width:150px; width: 100%; margin-top: -5px" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</footer>

<section class="count" id="count" style="background: black; padding: 10px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 style="color: white"> Contador de Visitas</h5>
                <a><img src="https://counter4.whocame.ovh/private/contadorvisitasgratis.php?c=4np5wfdsy4z946e9sx2elkhk592ba8gk"
                        border="0" title="contador web gratis" alt="contador web gratis"></a>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js"></script>
<script src="../static/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/agency.min.js"></script>

<script>
    $("[data-media]").on("click", function (e) {
        e.preventDefault();
        var $this = $(this);
        var videoUrl = $this.attr("data-media");
        var popup = $this.attr("href");
        var $popupIframe = $(popup).find("iframe");
        $popupIframe.attr("src", videoUrl);
        $this.closest(".page").addClass("show-popup");
    });

    $(".popup").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(".page").removeClass("show-popup");
    });
    $(".popup > iframe").on("click", function (e) {
        e.stopPropagation();
    });
</script>

</body>
</html>
